# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# OS/system files
.DS_Store
Thumbs.db

# Optional: logs
*.log
